.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-bottom: 10px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__input_type_error {
  border-bottom-color: red;
}

.popup__input-error {
  position: absolute;
  display: none;
  white-space: normal;
  inline-size: 358px;
  min-block-size: 2rem;
  font-size: 12px;
  line-height: 1.2em;
  color: red;
  inset-block-start: 140px;
  inset-inline-start: 38px;
  transition: 0.3s;
}

.popup__input-error:last-of-type {
  margin-top: 10px;
  inset-block-start: 188px;
}

.popup__error_visible {
  display: block;
}

.popup__input-error.avatar-link-input-error {
  inset-block-start: 130px;
}

@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 12px;
    line-height: 15px;
  }
}
